.recipe{ id: dom_id(recipe) }
  %img.recipe-image{ src: "#{decode_image_url(recipe.image)}?w=300" }

  %h3= recipe.title

  %div
    %small
      %i.fa-regular.fa-clock
      = 'Cooking:'
    = "#{recipe.cooking_time} minutes"

  %div
    %small
      %i.fa-regular.fa-clock
      = 'Preparation:'
    = "#{recipe.preparation_time} minutes"
